/* Regular */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Reg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Bold.woff") format("woff");
	font-weight: 700; 
	font-style: normal;
	font-display: swap;
}

#root, .editor-shell, .player-shell {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #ececec;
}
p, label {
	font-size: 14px;
}
hr {
	border: 0.1px solid rgba(255, 255, 255, 0.15);
}
*:focus {
	outline: 2px solid #0099ff;
	outline-offset: 2px;
}

body.light {
	background: #eee;
	color: #222;
}
body.dark {
	background: rgb(45, 45, 45);
	color: #eee;
	
	.tf {
		background: rgba(0, 0, 0, 0.4);
		color: white;
	}
	.field input[type="color"] {
		border: 2px solid #eee;
	}
	.bdl {
		border-left-color: rgba(255, 255, 255, 0.1);
	}
}

body, button, input, select {
	font-family: "Proxima Nova", sans-serif;
}

.logo {
	width: 250px;
	height: 100px;
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center; 
}
.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.tf {
	outline: none;
	background: rgba(255, 255, 255, 0.6);
	padding: 6px;
	border-radius: 7px;
	border: none;
	border: 2px solid rgba(0, 0, 0, 0);
	font-size: 14px;
}
.tf:focus {
	outline: none !important;
	border: 2px solid #0099ff;
}
.tf--num {
	width: 100px !important;
}
.tf--nums {
	width: 40px !important;
}
.tf--numm {
	width: 70px !important;
}
.field-mini {
	input {
		min-height: 25px;
	}
}
.field {
	text-align: left;
	margin-bottom: 20px;
	
	label {
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
		
		font-size: 12px;
	}
	button {
		min-width: 35px !important;
	}
	input {
		width: 100%;
		box-sizing: border-box; /* important: keeps padding from messing width */
	}
	input[type="color"] {
		-webkit-appearance: none;
		appearance: none;
		width: 32px;
		height: 32px;
		padding: 0;
		border: 2px solid #444;
		border-radius: 10px;
		cursor: pointer;
	}
	input[type="color"]::-webkit-color-swatch-wrapper {
		padding: 0;
		border-radius: 6px;
	}
	input[type="color"]::-webkit-color-swatch {
		border: none;
		border-radius: 6px;
	}
}
.field:last-child {
	margin-bottom: 0px;
}
.mrs {
	margin-right: 5px;
}
.mrvs {
	margin-right: 2px;
}
.ml {
	margin-left: 10px;
}
.mr {
	margin-right: 10px;
}
.mb {
	margin-bottom: 10px;
}
.mt {
	margin-top: 10px;
}
.ml2 {
	margin-left: 20px;
}
.mr2 {
	margin-right: 20px;
}
.mb2 {
	margin-bottom: 20px;
}
.mt2 {
	margin-top: 20px;
}
.mrx {
	margin-right: 15px;
}
.vt, .vt * {
	vertical-align: top;
}
.vm, .vm * {
	vertical-align: middle;
}
.vb, .vb * {
	vertical-align: bottom;
}
.ib {
	display: inline-block;
}
.flex {
	display: flex;
	align-items: center;
	gap: 5px;
}
.slider-value {
	width: 50px;
	text-align: right;
	padding: 3px;
	font-size: 14px;
}
.btn-destructive {
	background: #db4848;
}
.btn-destructive:hover {
	background: #9d3434;
}
.small {
	font-size: 14px;
}
.small2 {
	font-size: 12px;
}
.smallx {
	font-size: 10px;
}
.gray {
	color: rgb(109, 109, 109);
}
.shade {
	background: rgba(0, 0, 0, 0.08);
}
.sidebyside {
	display: flex;
	align-items: center; /* vertically center */
	justify-content: space-between; /* push left and right apart */
	width: 100%;
	gap: 10px;
	
	.left-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex: 0 0 auto;
		min-width: 120px;
		
		.desc {
			max-width: 180px;
			padding-right: 10px;
			font-size: 13px;
		}
	}
	.right-side {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1 1 auto;
	}
	
	.vm {
		align-self: flex-end !important;
	}
}
.no-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.bdl {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	padding-left: 10px;
}

button {
	background: #0099ff;
	border: none;
	padding: 8px;
	min-width: 100px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	border-radius: 7px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none !important;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.142);
	
	svg {
		vertical-align: middle;
		padding: 2px;
	}
}
button:hover {
	background: #0074c1;
}
button:active {
	filter: brightness(50%);
}
button:disabled, button:disabled:active {
	background: #565656;
	opacity: 0.4;
	filter: none;
	cursor: not-allowed;
}
input[type=checkbox] {
	width: 15px;
	height: 15px;
}
input[type="range"] {
	width: 100%;
	background: transparent;
	padding: 0;
}
input[type=range][orient=vertical] {
	writing-mode: vertical-lr;
	direction: rtl;
	width: 16px;
	vertical-align: bottom;
}